/*
 * Estilos reutilizables
 */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

.row:before , .row:before{
	content: " ";
	display: table;
}

.row:after{
	clear: both;
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}

.col-4{
	/* (4 / 12) x 100 */
	width: 33.333333%;
	padding-top: 40px;
    padding-left: 50px;
}

.img-portfolio:hover{
	background-color: rgba(24, 188, 156,0.5);
}


.footer{
	text-align: center;
    margin-left: 1%;
    width: 30%;
}

.footer h2{
	margin-bottom: 20px;
	font-size: 29px;
}

.footer p{
	width: 102%;
    font-size: 18px;
}

.footer img{
	width: 17%;
}

.footer img:hover{
	cursor: pointer;
}

#portfolioimgs{
	background-color: rgba(24, 188, 156,0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#portfolioimgs .modal-body{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 1;
    
}

#portfolioimgs .modal-body img{
	
}

#portfolioimgs .close{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#portfolioimgs .close img{
  width: 60px;
}

.hide{
  display: none;
}