/*
 * Estilos de tu proyecto
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #EDE9E2;
}

/* Nav Bar */

#navbar{
  position: fixed;
  background: #2c3e50;
  width: 100%;
  top: 0;
}

#navbar ul{
  margin-left: 0;
  padding: 0;
  overflow: hidden; 
  list-style: none;
  margin-right:50px;
}

#navbar h5{
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 95px;
    font-weight: bold;
    font-size: 25px;
}

li {
  margin-right: 14px;
  float: right;
  padding: 10px;
}

li:hover{
  background-color: rgb(24, 188, 156);
}

li a {
    display: inline-block;
    color: white;
    padding: 14px;
    padding-right: 0px;
    padding-left: 0;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}*/

/* HEADER */




